@import 'bootstrap/dist/css/bootstrap.min.css';
* {
  margin: 0px;
}
@media (min-width: 768px) {
  .header {
    font-size: 84px;
    text-align: center;
    font-family: "Iowan Old Style";
    margin-top: 32px;
  }
  .container {
    width: 940px;
  }
}
@media (max-width: 600px) {
  .header {
    font-size: 50px;
    text-align: center;
    font-family: "Iowan Old Style ";
    margin-top: 40px;
  }
  .container {
    width: 365px;
  }
}
.logo {
  margin-top: -15px;
}
.line1 {
  border-top: 1px solid black;
}
.line2 {
  border-top: 1px solid black;
  margin-top: 5px;
}

/* footer */
.main-div {
  margin-top: 59px;
}
.line3 {
  border-top: 1px solid black;
  margin-top: 59px;
}
.footer-text {
  margin-top: 59px;
  display: flex;
  justify-content: center;
}
.gap-footer {
  margin-top: 57px;
}

/* Article Page */
.col-sm {
  height: 388px;
  width: 250px;
}
.top-news {
  margin-top: 89px;
  color: red;
  font-family: "Inria Sans";
}
.article-box {
  margin-top: 40px;
}
.container-1 {
  height: 400px;
  margin-top: 100px;
}

/* Search pege */
.main-input-btn {
  margin-top: 50px;
}
.input-btn {
  display: flex;
  justify-content: center;
}
.search-icon {
  height: 32px;
  width: 32px;
  position: absolute;
  margin-left: -278px;
  margin-top: 15px;
}
.search-bar {
  width: 267px;
  height: 60px;
  font-size: 20px;
  border: 1px solid #d1c4c4;
  padding-left: 45px;
}
.go-btn {
  width: 61px;
  height: 60px;
  background-color: #E84848;
  color: white;
  font-size: 20px;
  border: none;
}
.box {
  display: flex;
  flex-wrap: wrap;
}
.image {
  width: 250px;
  height: 130px;
}
.title {
  color: var(--Dark, #3C3030);
  font-family: "Inknut Antiqua";
  font-size: 18px;
  font-weight: 600;
  width: 250px;
  margin-top: 16px;
}
.paragrap {
  width: 250px;
  color: var(--Dark, #3C3030);
  font-size: 16px;
  font-family: "Inter ";
}
.read-article {
  text-decoration: none;
  color: black;
  color: var(--Dark, #3C3030);
  font-family: "Inria Sans";
}
.arrow {
  color: #E84848;
  margin-left: 10px;
}