@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0px;
}

/* page */
.main-article-box {
  /* border: 1px solid red; */
  /* margin: auto; 
  width: 1200px; */
  /* margin-top: 89px; */
}

/* Header Page */

/* .container{
  width: 940px;

} */
@media (min-width: 768px) {
  .header {
    font-size: 84px;
    text-align: center;
    font-family: "Inknut Antiqua";
    margin-top: 32px;
  }
  .container{
    width: 940px;

  }
}
@media (max-width: 600px) {
  .container{
    width:365px;
    
  }
  .header {
    font-size: 50px;
    text-align: center;
    font-family: "Inknut Antiqua";
    margin-top: 40px;

  }
}
.logo {
  margin-top: -15px;
}

.line1 {
  border-top: 1px solid black;
}

.line2 {
  border-top: 1px solid black;
  margin-top: 5px;
}

/* footer */
.main-div {
  margin-top: 59px;
}

.line3 {
  border-top: 1px solid black;
  margin-top: 59px;
}

.footer-text {
  text-align: center;
  margin-top: 59px;
}

.gap-footer {
  margin-top: 57px;
}

/* Articale page */
.paddingall {
  /* padding: 30px; */
  /* border: 1px solid red; */
  /* margin: ; */
}


/* Check Page */
.col-sm {
  border: 1px solid red;
  height:408px;
}
.check-main-box{
  margin-top: 89px;
}
.empty-box{
  margin-top: 40px;
}
.container-1 {
  /* border: 1px solid red; */
  height: 400px;
  margin-top: 100px;
}

/* Search pege */

.input-btn {
  justify-content: center;
  margin-top: 89px;
}
.search-icon{
  height: 32px;
  width: 60px;
  position: relative;
  left: 45px;
  margin-top: 15px;

}
.search-bar {
  width: 267px;
  height: 60px;
  border: 1px solid #d1c4c4;
  padding: 29px;

}
.go-btn {
  width: 61px;
  height: 60px;
  background-color: #E84848;
  color: white;
  font-size: 20px;
  border: none;
}